select {
  padding: 4px;
  font-size: 0.95rem;
}

#tokenTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}



table {
  width: 100%;
  border-collapse: collapse;
}


#jsonPreviewWrapper {
  display: flex;
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 6px;
  font-family: monospace;
  color: #dcdcdc;
  overflow: hidden;
  max-height: 500px;
}

#jsonLineNumbers {
  padding: 1em 0.5em;
  background: #1e1e1e;
  color: #888;
  text-align: right;
  user-select: none;
  border-right: 1px solid #444;
  width: 3em;
  overflow: hidden;
  white-space: pre;
  font-size: 14px;
  line-height: 1.5;
}

#jsonPreview {
  padding: 1em;
  white-space: pre;
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
  overflow: auto;
}

