
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #eee;
}

.highlight {
  padding: 1px 2px;
  border-radius: 3px;
  color: #000;
}


#entities-scroll {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
}



.entity:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: help;
}

#labelLegend {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

#labelLegend span {
  cursor: pointer; 
}

#labelLegend span:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #e6f2ff;
}


/* Active (clickable) legend item */
#labelLegend .active-legend {
  cursor: pointer;
  transition: box-shadow 0.2s;
}

#labelLegend .active-legend:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #e6f2ff;
}

/* Inactive (non-clickable) legend item */
#labelLegend .inactive-legend {
  opacity: 0.4;
  cursor: default;
}

.highlighted-entity {
    outline: 2px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}