
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #eee;
}

.highlight {
  padding: 1px 2px;
  border-radius: 3px;
  color: #000;
}


#entities-scroll {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
}




#jsonPreviewWrapper {
  display: flex;
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 6px;
  font-family: monospace;
  color: #dcdcdc;
  overflow: hidden;
  max-height: 500px;
}

#jsonLineNumbers {
  padding: 1em 0.5em;
  background: #1e1e1e;
  color: #888;
  text-align: right;
  user-select: none;
  border-right: 1px solid #444;
  width: 3em;
  overflow: hidden;
  white-space: pre;
  font-size: 14px;
  line-height: 1.5;
}

#jsonPreview {
  padding: 1em;
  white-space: pre;
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
  overflow: auto;
}

